:root {
  --RGB_BTN: #272c30;
  --RGB_HDR: #272c30;
  --RGB_NAV: #0088cc;
  --RGB_SYM: #eeeeee0f;
  --RGB_GRAD_FROM: #272c30;
  --RGB_GRAD_TO: #272c30;
  --RGB_TXT: #fff;
  --RGB_STATUS_ICON: var(--RGB_NAV);
}
