a{color:var(--RGB_NAV);}
body{background-color:#353c42;color:#fff}
legend{color:#fff;}
#tod-modal div:nth-child(3){background-color:#353c42;color:#fff;}
.btn{color:#000}
.btn .caret{border-top-color:#000;}
.btn:hover .caret{border-top-color:#fff;}
.btn.btn-primary{color:#fff}
.btn-primary,.button:hover,.btn:hover,.smallcard .header .settings,.smallcard .header .settings:hover{background-color:var(--RGB_GRAD_TO);background-image:-moz-linear-gradient(top,var(--RGB_GRAD_FROM),var(--RGB_GRAD_TO));background-image:-webkit-gradient(linear,00,0100%,from(var(--RGB_GRAD_FROM)),to(var(--RGB_GRAD_TO)));background-image:-webkit-linear-gradient(top,var(--RGB_GRAD_FROM),var(--RGB_GRAD_TO));background-image:-o-linear-gradient(top,var(--RGB_GRAD_FROM),var(--RGB_GRAD_TO));background-image:linear-gradient(tobottom,var(--RGB_GRAD_FROM),var(--RGB_GRAD_TO));border-color:var(--RGB_GRAD_TO);text-shadow:unset;}
.btn:hover{-webkit-box-shadow:inset 0px 1px 0px rgba(255,255,255,.5),0px 0px 5px rgba(12,208,246,1);-moz-box-shadow:inset 0px 1px 0px rgba(255,255,255,.5),0px 0px 5px rgba(12,208,246,1);box-shadow:inset 0px 1px 0px rgba(255,255,255,.5),0px 0px 5px rgba(0,0,0,1);}
.button:hover:hover,.button:hover:focus,.button:hover:active,.button:hover.active,.button:hover.disabled,.button:hover[disabled],.btn:hover:hover,.btn:hover:focus,.btn:hover:active,.btn:hover.active,.btn:hover.disabled,.btn:hover[disabled],.smallcard .header .settings:hover:hover,.smallcard .header .settings:hover:focus,.smallcard .header .settings:hover:active,.smallcard .header .settings:hover.active,.smallcard .header .settings:hover.disabled,.smallcard .header .settings:hover[disabled]{background-color:var(--RGB_GRAD_FROM);color:#fff}
.chartcard .header{background-color:#272c30 !important;}
.card{background-color:#272c30;}
.card_bg:after{color:var(--RGB_SYM);}
.dropdown-menu,.dropdown-menu>li>a{background-color:var(--RGB_BTN);color:#fff;}
.grey{background:#353c42;}
.header .btn{background-color:var(--RGB_BTN);color:#fff;}
.header .btn:hover{background-color:#fff;color:#000;}
.header .btn .caret{border-top-color:#fff;}
.header .btn:hover .caret{border-top-color:#000;}
.header img,.logo-technicolor{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/logo.gif) no-repeat;width:180px;height:70px;padding-left:180px;background-size:180px;}
.loading{background:#000000e0;}
.loading-wrapper{background:#000000e0;}
.login{background-color:#272c30;}
.modal-header{color:var(--RGB_TXT);}
.modal-header,.modal-body,.modal-footer{background-color:#272c30;}
.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list>.active>a:focus{background-color:var(--RGB_NAV);}
.smallcard{background-color:#272c30;color:rgba(64,64,64,0.75);}
.smallcard .content{background-color:#272c30;color:#fff;}
.smallcard .header{background-color:var(--RGB_HDR);}
.smallcard .subinfos{color:#bec5cb;}
.switchOn{background-color:#00a540;}
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th {background-color:#353c42;}
.networkmap .right{background-image:url("/img/night/tipright.png") !important;}
.networkmap .left{background-image:url("/img//night/tipleft.png") !important;}
.networkmap .longleft{background-image:url("/img/night/tiplongleft.png") !important;}
.diag-traffic{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/Profit-01-WF.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-speedtest{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/bandwidth-px-png.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-ping{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/pocket-32-black.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-logviewer{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/log-viewer.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-connections{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/Data-Sync-WF.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-connection{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/connection-established.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-network{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/network_sans-32.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-tcpdump{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/tcp-dump.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
.diag-graphs{-moz-box-sizing:border-box;box-sizing:border-box;background:url(/img/night/Bar-Charts-1-WF.png) no-repeat;width:32px;height:32px;padding-left:48px;padding-bottom:48px;}
