/* Only applicable to light and night themes (not Telstra theme) */
body{font-family:Roboto,Noto,sans-serif;}
input,button,select,textarea{font-family:Roboto,Noto,sans-serif;}
.bbstats{margin:0px 0px -6px 20px;}
.card{font-family:Roboto,Noto,sans-serif;}
.card_bg>*{z-index:20;}
.copyright{border-top:none;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.dw{font-family:Roboto,Noto,sans-serif;}
.header{border-bottom:0px;box-shadow:none;margin-bottom:30px;}
.nav-header{text-shadow:none;}
.nav-list>li>a,.nav-list .nav-header{text-shadow:none;}
.smallcard{border:0px;font-family:Roboto,Noto,sans-serif;font-size:14px;font-weight:400;}
.smallcard .header{background-image:none;border-bottom:0px;font-size:20px;font-weight:400;text-shadow:none;}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:18px;}
#device-modal>div.modal-body>div.container{width:1060px !important;}
#hide-unhide-non-connected-device{display:none;}
.networkmap .device{width:auto;text-align:center;}
.networkmap .devicelist{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:1px solid #DADADA;padding:0.625em;text-align:center;}
.networkmap .interface-name{color:#004D9D;font-size:1.25em;margin-bottom:10px;}
.networkmap .table td{border-top:none;border-color:#004D9D;padding-top:0px;padding-bottom:0px;width:12.5%;}.networkmap .table td .tooltip-inner{text-align:left;}
.networkmap .apinfo{font-size:0.775em;color:#002856;line-height:normal;text-align:left;border:solid 8px transparant;display:inline-block;vertical-align:middle;position:absolute;}
.networkmap .deviceinfo{font-size:0.775em;color:#002856;line-height:normal;text-align:left;border:solid 8px transparant;display:inline-block;vertical-align:middle;position:absolute;}
.networkmap .showdeviceinfo{font-size:0.775em;color:#002856;line-height:normal;text-align:left;border:solid 8px transparant;vertical-align:middle;}
.networkmap .right{background:#bce4fa no-repeat left bottom url("/img/tipright.png");padding:8px 8px 8px 12px;margin-left:5px;}
.networkmap .left{background:#bce4fa no-repeat right bottom url("/img/tipleft.png");padding:8px 12px 8px 8px;margin-left:20px;left:30%;}
.networkmap .longleft{background:#bce4fa no-repeat right bottom url("/img/tiplongleft.png");padding:8px 12px 8px 8px;margin-left:20px;left:26%;}
.networkmap .hoveronly{display:none;}
.networkmap .showinfo{display:inline-block;}
.networkmap .device:hover .deviceinfo.hoveronly{display:inline-block;}
#devices>tbody>tr>td:nth-child(2),#devices>tbody>tr>td:nth-child(6),#devices>tbody>tr>td:nth-child(7),#devices>tbody>tr>td:nth-child(8){white-space:nowrap;}
#helper>tbody>tr>td{text-transform:uppercase;}
#proctable>tbody>tr>td:nth-child(1),#proctable>tbody>tr>td:nth-child(2),#proctable>tbody>tr>td:nth-child(5),#proctable>tbody>tr>td:nth-child(6),#proctable>tbody>tr>td:nth-child(7){text-align:right;}
#proctable>tbody>tr>td:nth-child(6):after,#proctable>tbody>tr>td:nth-child(7):after{content:"%";}
#proctable>thead>tr>th{white-space:nowrap;}
#dnsServer,#ipv4_dns_sec,#dns_v6_pri,#dns_v6_sec{width:190px;}